@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";

body{
    font-family: "Nunito Sans", serif;
}


/**  CLASES OPTIMIZADAS   **/
.btn-primary {
    @apply flex items-center gap-2.5 py-3 px-4 border-2 rounded-[8px] transition-colors duration-150 ease-in-out;
    @apply text-[14px] md:text-[18px] font-normal leading-normal text-colorTextGeneral;
    @apply bg-white dark:bg-colorsecundary;
    @apply border-colorBorderButtonLigth dark:border-colorBorderButtonDark;
    @apply dark:text-white;
    @apply hover:bg-colorPrimary hover:text-white dark:hover:bg-colorsecundaryhover;
}

.btn-submit {
    @apply flex items-center gap-2.5 text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700;
}

.input-class {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm placeholder-gray-400 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.btn-icon {
    @apply border-2 dark:border-[0.6px] border-[#C1BBEB] text-black dark:text-white rounded-[8px] bg-[#FAFBFD] dark:border-[#C1BBEB] dark:bg-[#323D4E] flex items-center justify-center w-[51.6px] hover:bg-colorPrimary hover:text-white dark:hover:bg-colorPrimary;
}


.input-field{
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm placeholder-gray-500 rounded-lg
    focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
    dark:bg-gray-700 dark:border-gray-600 dark:text-white
}
